header, footer {
	margin: 10px;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
}

#search-button {
	padding: 0;
	margin-left: 5px;
}

.search-button-image {
	width: 22px;
	height: 22px;
}

.users-data,
.user-view {
	width: 20%;
	margin: 10px;
}

.users-data th, 
.users-data td {
	padding: 10px;
	width: 40%;
	border: 1px solid black;
}
