.header, .footer {
	margin: 10px;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
}

#content {
	margin: 15px;
}

#search-button {
	padding: 0;
	margin-left: 5px;
}

.alert-custom {
	display: inline-block;
	margin-left: 10px;
}

.menu-bar {
	margin-bottom: 5px;
}

.search-button-image {
	width: 22px;
	height: 22px;
}

.clear-fix {
	clear: both;
}

.users-data,
.user-view {
	width: 30%;
	margin: 10px;
}

.users-data th, 
.users-data td,
.movies-data th, 
.movies-data td {
	padding: 10px;
	border: 1px solid black;
}

.all-movies {
	width: 500px;
}

.movie-heading {
	display: inline-block;
	margin-bottom: 0;
}

.add-btn {
	margin-bottom: 15px;
}

.delete-btn {
	float: right;
}

.movie-container,
.celebrity-container {
	display: inline-block;
	margin: 15px 10px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

.movie-picture,
.celebrity-picture {
	height: 250px;
	width: 170px;
}

.movie-details,
.celebrity-details {
	float: right;
	width: 250px;
    margin-left: 10px;
}
