<h3><%= @test %></h3>

<% if @error %>
<div class="col-md-12">
	<div class="alert alert-danger fade in alert-custom">
		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
		<span><%= @error %></span>
		&nbsp;&nbsp;
	</div>
</div>
<% end %>

<div class="col-md-6">
	<form action="/login" class="form-horizontal" method="post" role="form">
		<div class="row form-group">
			<div class="col-md-2">
				<label class="col-md-2 control-label" for="username">Username</label>
			</div>
			<div class="col-md-4">
				<input class="form-control" id="username" name="username" type="text" value="<%= params[:username] %>"/>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-2">
				<label class="col-md-2 control-label" for="password">Password</label>
			</div>
			<div class="col-md-4">
				<input class="form-control" id="password" name="password" type="password" value="<%= params[:password] %>" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-3">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>
