<div>Резултати за "<%= @query %>"</div>

<% if @movies.any? %>
  <h1>Всички филми</h1>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Няма намерени филми.</p>
<% end %>
