<div>Results for "<%= @query %>"</div>

<% if @movies.any? %>
  <h1>All movies:</h1>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No data found.</p>
<% end %>
