<% if @user %>
  <h1>User data:</h1>
  <table class="user-view">
  	<tr>
  		<td>Username</td>
  		<td><%= @user.username %></td>
  	</tr>
  	<tr>
  		<td>Email</td>
  		<td><%= @user.email %></td>
  	</tr>
  	<tr>
  		<td>Is admin</td>
  		<td><%= @user.is_admin ? 'Yes' : 'No' %></td>
  	</tr>
  </table>
  
<% else %>
  <p>No such user found.</p>
<% end %>
