<% if @user %>
  <h1>Данни за потребител</h1>
  <table class="user-view">
  	<tr>
  		<td>Потребителско име</td>
  		<td><%= @user.username %></td>
  	</tr>
  	<tr>
  		<td>Email</td>
  		<td><%= @user.email %></td>
  	</tr>
  	<tr>
  		<td>Админ</td>
  		<td><%= @user.is_admin ? 'Да' : 'Не' %></td>
  	</tr>
  </table>
  
<% else %>
  <p>Няма такъв потребител.</p>
<% end %>
